<!DOCTYPE html>
<html lang='en'>
  <head>
  	<meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link rel='stylesheet' href="/bootstrap/css/bootstrap-responsive.css" />
    
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript">

	var steps = []; // this array will grow each round
	var inGame = false;
	var isplaying = false;
	var playerCount = 0;
	var currentRound = 1;
	var highScore = 1;

	function incrementSteps(){
		var number = Math.ceil(Math.random()*4);
		console.log(number);
		steps.push(number+"btn");
	}

	function resetGame(){
		$('.startDiv').show();
		$('.gameDiv').hide();

		if(currentRound > highScore){
			highScore = currentRound - 2;
		}

		$('#highScore').text("HighScore: " + highScore);

		steps = [];
		currentRound = 1;
		playerCount = 0;
	}

	//this will indicate to the user what buttons to push
	function playButtons(){
		isPlaying = true;
		incrementSteps();

		$('h1#round').text("Round: " + currentRound);
		currentRound++;

		var count = 0;
		var int = setInterval(function(){
			var btn = steps[count];
			console.log(btn);

			$('embed').remove();
    	    $('body').append('<embed src="'+btn+'.mp3" autostart="true" hidden="true" loop="false">');
			$('#'+btn).animate({
			    opacity: 1
			  }, 250, function() {
			    $('#'+btn).css('opacity', .75);
			  });

			count++;
			if(count >= steps.length){
				clearInterval(int);
				isPlaying = false;
			}
		}, 1000);
	}

	$(document).ready(function(){
		$('.startDiv').show();

		$('#startBtn').on('click', function(){
			$('.startDiv').hide();
			$('.gameDiv').show();

			playButtons();
		});


		$('.btn').on('click', function(){
			
			if(isPlaying){
				return;
			}

			if($(this).attr('id') == steps[playerCount]){
				console.log($(this).attr('id'));
				playerCount++;
				$('embed').remove();
    	    	$('body').append('<embed src="'+$(this).attr('id')+'.mp3" autostart="true" hidden="true" loop="false">');
				if(playerCount >= steps.length){
					playerCount = 0;
					playButtons();
				}
			} else {
				resetGame();
			}
		})
	});

    </script>
  </head>
  <body>

  	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#"><%= title %></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Game</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class='container-fluid gameDiv'>
    	<div class='row'>
	    	<div class='offset4 span4'>
	    		<h1 id='highScore'></h1>
	    	</div>
	    </div>
	</div>

		<div class='container-fluid gameDiv' style='display:none'>
      		<div class='row'>
      			<div class='offset4 span4'>
      				<h1 id='round'></h1>
      				<div class='row'>
      					<div class='span3 offset1'>
	      				<p>
		        		<button id='1btn' class='btn btn-primary btn-large' type='button'>&nbsp;</button>
		        		<button id='2btn' class='btn btn-success btn-large' type='button'>&nbsp;</button>
		        		</p>
		        		<p>
		        		<button id='3btn' class='btn btn-warning btn-large' type='button'>&nbsp;</button>
			        	<button id='4btn' class='btn btn-danger btn-large' type='button'>&nbsp;</button>
			        	</p>
			       		</div>
			        </div>
	        	</div>
        	</div>
        </div>
        <div class='container-fluid startDiv' style='display:none'>
      		<div class='row'>
      			<div class='span6 offset3 alert alert-success'>
      				<h3>Test your memory and get highscore</h3>
        			<button id='startBtn' class='btn btn-primary'>Start Game</button>
        		</div>
        	</div>
        </div>
  </body>
</html>